<%- include ("../_partials/_header.ejs"); -%>
<%- include ("../_partials/_navbar.ejs"); -%>
<%- include ("../_partials/_alerts.ejs"); -%>

<div class="container">
    <nav class="navbar navbar-expand-sm-3">
        <div class="container-fluid">
          <span class="navbar-brand mb-sm-0 h1 fs-2">
            <img src="/icons/info-circle-fill.svg" style="padding: 0px 10px 5px 0px" width="50" height="50" />
            About
          </span>
        </div>
    </nav>

</div>

<%- include ("../_partials/_footer.ejs"); -%>