<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=((locals.title && locals.title.length > 0) ? locals.title : "DBS E-Commerce")%></title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="/fonts/bootstrap-icons.css" rel="stylesheet">
</head>

<style>
  html {
    height: 100%;
    color: rgb(255, 255, 255);
    line-height: 1.8;
    font-weight: bolder;
  }
  /* Create a Parallax Effect */
  .bgimg-1 {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  /* First image (Logo. Full height) */
  .bgimg-1 {
      background-image: url("../../assets/DBS_SG_Facade_4.jpg");
      height: 90vh; /* For 100% screen height */
      width:  100%; /* For 100% screen width */
  }

  .viewCollectionsBtn {
      opacity: 0.75;
      width: 30%;
      height: 7%;
      margin-top: 35%;
      margin-left: 35%;
      font-size: 35px;
      padding: 0;
      text-align: center;
      font-family:serif;
  }

  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1600px) {
      .bgimg-1
      {
          background-attachment: scroll;
          height: 90vh; /* For 100% screen height */
          width:  100%; /* For 100% screen width */
      }
    }
</style>

<body>
<%- include ("../_partials/_navbar.ejs"); -%>
<%- include ("../_partials/_alerts.ejs"); -%>

<!--Background image-->
<div class="bgimg-1" id="home">
  <a href="/allProducts" type="button" class="btn btn-danger btn-lg viewCollectionsBtn">Login to DiGiBank</a>
</div>

<%- include ("../_partials/_footer.ejs"); -%>